html {
  font-size: 10px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
  font-family: 'Roboto Mono', monospace;
  background-color: #A4A4A4;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #1C1C1C
}
img {
  display: block;
  margin: 0 auto;
}
